<div class="post">
    <div class="header">
        <h1>Post Title</h1>

        <button routerLink="/"
                class="btn btn-light">Home</button>
    </div>

    <div class="info">
        <strong>Author</strong>
        <small>20.10.2020</small>
    </div>

    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum error ipsa natus nulla sunt
            voluptatibus? Deserunt dolorum molestias, mollitia neque nisi nulla perspiciatis possimus reiciendis
            ullam unde! A ab ad adipisci aliquam amet architecto aspernatur at atque aut blanditiis consectetur
            consequuntur delectus dolore ducimus earum facere fugit impedit inventore iste itaque iusto labore magnam
            molestiae necessitatibus odit officia.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum error ipsa natus nulla sunt
            voluptatibus? Deserunt dolorum molestias, mollitia neque nisi nulla perspiciatis possimus reiciendis
            ullam unde! A ab ad adipisci aliquam amet architecto aspernatur at atque aut blanditiis consectetur
            consequuntur delectus dolore ducimus earum facere fugit impedit inventore iste itaque iusto labore magnam
            molestiae necessitatibus odit officia.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum error ipsa natus nulla sunt
            voluptatibus? Deserunt dolorum molestias, mollitia neque nisi nulla perspiciatis possimus reiciendis
            ullam unde! A ab ad adipisci aliquam amet architecto aspernatur at atque aut blanditiis consectetur
            consequuntur delectus dolore ducimus earum facere fugit impedit inventore iste itaque iusto labore magnam
            molestiae necessitatibus odit officia.</p>
    </div>
</div>
